---
- name: 4. Cria o arquivo .env a partir de um template
  become: true
  ansible.builtin.template:
    src: "{{ info_maquina_env_template }}"
    dest: "{{ info_maquina_env_path }}"
    owner: "{{ default_user }}"
    group: "{{ default_group }}"
    mode: "{{ info_maquina_env_mode }}"

- name: 4.1. Garante que as permissões do .env estejam corretas
  become: true
  ansible.builtin.file:
    path: "{{ info_maquina_env_path }}"
    owner: "{{ default_user }}"
    group: "{{ default_group }}"
    mode: "{{ info_maquina_env_mode }}"

- name: 4.2. Garante que o diretório do projeto tenha permissões corretas
  become: true
  ansible.builtin.file:
    path: "{{ info_maquina_dir }}"
    state: directory
    owner: "{{ default_user }}"
    group: "{{ default_group }}"
    mode: "{{ info_maquina_dir_mode }}"
    recurse: true